@model IEnumerable<Books>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sve knjige</h1>

    <div class="container">
        
        <div class="row">
            @foreach (var books in Model)
            {
            <div class="col-md-4">
                <div class="card my-3">
                <h5>@books.Name</h5>
                <h6>@books.Author</h6>
                <p>@books.Members</p>
            </div>
            }
         </div>

    <div>

        <table>
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Author</th>
                    <th>Rating</th>
                    <th>Members</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var books in Model)
                {
                    <tr>
                        <td>@books.Name</td>
                        <td>@books.Author</td>
                        <td>@books.Rating</td>
                        <td>@books.Members</td>
                    </tr>
                }

            </tbody>
        </table>


</div>

